bucket         = "fintechbankx-terraform-state-dev"
key            = "lending/loan-lifecycle-service/terraform.tfstate"
region         = "me-central-1"
dynamodb_table = "fintechbankx-terraform-locks"
encrypt        = true
